@charset "UTF-8";

/* demo css */

body {
	font-family: 'open_sansregular', arial, helvetica, sans-serif;
	line-height: 1.5;
	color: #333;
}

h2 {
	font-family: 'open_sansbold', verdana, arial, helvetica, sans-serif;
}

code {
	font-family: courier, monospace;
	color: #009;
}

.o-content-width {
	position: relative;
	margin: 0 auto;
	max-width: 60em;
	/*font-family: 'open_sansregular', georgia;*/
}

.o-media-box {
	margin: 0 auto;
}

.o-media-box img {
	display: block;
	max-width: 100%;
}

.script-status {
	position: absolute;
	top: 1em;
	right: 1em;
	text-align: right;
}

.script-status-list {
	margin: 0 0 0.5em;
	list-style-type: none;
}

.script-status-list > li {
	display: inline-block;
	position: relative;
	border-radius: 2px;
	padding: 0.5em;
	width: 1em;
	background: red;
	color: white;
	line-height: 0.7;
	text-align: center;
}
.script-status-list > li.is-loaded {
	background: green;
}

.script-size {
	font-size: 0.6em;
	font-weight: bold;
}

.footnote {
	margin: 0;
	font-size: 0.9em;
	color: #999;
}
