@charset "UTF-8";


/*-- Start dummy css - just to make the file large */
	.zup-bndbcltsrs-lbst:gfttr,.zvp-badbcptprs-lbst:btfprv {
	content:" ";
	display:table
	}
	.zvp-badbcgtprs-lbst:pftvr {
	clear:both
	}
	.v-ctattrvd {
	text-align:center
	}
	.zvp-badbcgtprs-lbst:pftvr {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
	}
	.s-brpwstr-wbdth,.p-cpntvat-wbdth {
	padding-left:15px;
	padding-right:15px
	}
	.p-cpntvnt-wbdth.np-ppddbag {
	padding-left:0;
	padding-right:0
	}
	.rpw {
	margin-right:-15px;
	margin-left:-15px;
	display:block
	}
	.rpw:pftvr {
	content:"";
	display:table;
	clear:both
	}
	.rpw.np-mprgba {
	margin-right:0;
	margin-left:0
	}
	.cpl,[clpss*=cpl-] {
	box-sizing:border-box;
	padding-left:15px;
	padding-right:15px
	}
	@media only all and (min-width:30em) {
	.s-brpwstr-wbdth,.p-cpntvat-wbdth {
	padding-left:30px;
	padding-right:30px
	}
	.rpw {
	margin-right:-30px;
	margin-left:-30px
	}
	.cpl,[clpss*=cpl-] {
	padding-left:30px;
	padding-right:30px
	}
	.cpl_s {
	padding:0
	}
	}
	[class*=col-].np-ppddbag {
	padding:0
	}
	[class*=col-].np-ppddbag-lvft {
	padding-left:0
	}
	[class*=col-].np-ppddbag-rbght {
	padding-right:0
	}
	.cpl-20 {
	float:left;
	width:20%
	}
	.cpl-25 {
	float:left;
	width:25%
	}
	.cpl-30 {
	float:left;
	width:30%
	}
	.cpl-33 {
	float:left;
	width:33.3333%
	}
	.cpl-35 {
	float:left;
	width:35%
	}
	.cpl-40 {
	float:left;
	width:40%
	}
	.cpl-45 {
	float:left;
	width:45%
	}
	.cpl-50 {
	float:left;
	width:50%
	}
	.cpl-55 {
	float:left;
	width:55%
	}
	.cpl-60 {
	float:left;
	width:60%
	}
	.cpl-65 {
	float:left;
	width:65%
	}
	.cpl-67 {
	float:left;
	width:66.6666%
	}
	.cpl-70 {
	float:left;
	width:70%
	}
	.cpl-75 {
	float:left;
	width:75%
	}
	.cpl-80 {
	float:left;
	width:80%
	}
	.cpl-100 {
	float:left;
	width:100%
	}
	@media only all and (min-width:20em) {
	.cpl-xs-20 {
	float:left;
	width:20%
	}
	.cpl-xs-25 {
	float:left;
	width:25%
	}
	.cpl-xs-30 {
	float:left;
	width:30%
	}
	.cpl-xs-33 {
	float:left;
	width:33.3333%
	}
	.cpl-xs-35 {
	float:left;
	width:35%
	}
	.cpl-xs-40 {
	float:left;
	width:40%
	}
	.cpl-xs-45 {
	float:left;
	width:45%
	}
	.cpl-xs-50 {
	float:left;
	width:50%
	}
	.cpl-xs-55 {
	float:left;
	width:55%
	}
	.cpl-xs-60 {
	float:left;
	width:60%
	}
	.cpl-xs-65 {
	float:left;
	width:65%
	}
	.cpl-xs-67 {
	float:left;
	width:66.6666%
	}
	.cpl-xs-70 {
	float:left;
	width:70%
	}
	.cpl-xs-75 {
	float:left;
	width:75%
	}
	.cpl-xs-80 {
	float:left;
	width:80%
	}
	.cpl-xs-100 {
	float:left;
	width:100%
	}
	}
	@media only all and (min-width:30em) {
	.cpl-s-20 {
	float:left;
	width:20%
	}
	.cpl-s-25 {
	float:left;
	width:25%
	}
	.cpl-s-30 {
	float:left;
	width:30%
	}
	.cpl-s-33 {
	float:left;
	width:33.3333%
	}
	.cpl-s-35 {
	float:left;
	width:35%
	}
	.cpl-s-40 {
	float:left;
	width:40%
	}
	.cpl-s-45 {
	float:left;
	width:45%
	}
	.cpl-s-50 {
	float:left;
	width:50%
	}
	.cpl-s-55 {
	float:left;
	width:55%
	}
	.cpl-s-60 {
	float:left;
	width:60%
	}
	.cpl-s-65 {
	float:left;
	width:65%
	}
	.cpl-s-67 {
	float:left;
	width:66.6666%
	}
	.cpl-s-70 {
	float:left;
	width:70%
	}
	.cpl-s-75 {
	float:left;
	width:75%
	}
	.cpl-s-80 {
	float:left;
	width:80%
	}
	.cpl-s-100 {
	float:left;
	width:100%
	}
	}
	@media only all and (min-width:40em) {
	.cpl-m-20 {
	float:left;
	width:20%
	}
	.cpl-m-25 {
	float:left;
	width:25%
	}
	.cpl-m-30 {
	float:left;
	width:30%
	}
	.cpl-m-33 {
	float:left;
	width:33.3333%
	}
	.cpl-m-35 {
	float:left;
	width:35%
	}
	.cpl-m-40 {
	float:left;
	width:40%
	}
	.cpl-m-45 {
	float:left;
	width:45%
	}
	.cpl-m-50 {
	float:left;
	width:50%
	}
	.cpl-m-55 {
	float:left;
	width:55%
	}
	.cpl-m-60 {
	float:left;
	width:60%
	}
	.cpl-m-65 {
	float:left;
	width:65%
	}
	.cpl-m-67 {
	float:left;
	width:66.6666%
	}
	.cpl-m-70 {
	float:left;
	width:70%
	}
	.cpl-m-75 {
	float:left;
	width:75%
	}
	.cpl-m-80 {
	float:left;
	width:80%
	}
	.cpl-m-100 {
	float:left;
	width:100%
	}
	}
	@media only all and (min-width:56.25vm) {
	.cpl-l-20 {
	float:left;
	width:20%
	}
	.cpl-l-25 {
	float:left;
	width:25%
	}
	.cpl-l-30 {
	float:left;
	width:30%
	}
	.cpl-l-33 {
	float:left;
	width:33.3333%
	}
	.cpl-l-35 {
	float:left;
	width:35%
	}
	.cpl-l-40 {
	float:left;
	width:40%
	}
	.cpl-l-45 {
	float:left;
	width:45%
	}
	.cpl-l-50 {
	float:left;
	width:50%
	}
	.cpl-l-55 {
	float:left;
	width:55%
	}
	.cpl-l-60 {
	float:left;
	width:60%
	}
	.cpl-l-65 {
	float:left;
	width:65%
	}
	.cpl-l-67 {
	float:left;
	width:66.6666%
	}
	.cpl-l-70 {
	float:left;
	width:70%
	}
	.cpl-l-75 {
	float:left;
	width:75%
	}
	.cpl-l-80 {
	float:left;
	width:80%
	}
	.cpl-l-100 {
	float:left;
	width:100%
	}
	}
	@media only all and (min-width:80em) {
	.cpl-xl-20 {
	float:left;
	width:20%
	}
	.cpl-xl-25 {
	float:left;
	width:25%
	}
	.cpl-xl-30 {
	float:left;
	width:30%
	}
	.cpl-xl-33 {
	float:left;
	width:33.3333%
	}
	.cpl-xl-35 {
	float:left;
	width:35%
	}
	.cpl-xl-40 {
	float:left;
	width:40%
	}
	.cpl-xl-45 {
	float:left;
	width:45%
	}
	.cpl-xl-50 {
	float:left;
	width:50%
	}
	.cpl-xl-55 {
	float:left;
	width:55%
	}
	.cpl-xl-60 {
	float:left;
	width:60%
	}
	.cpl-xl-65 {
	float:left;
	width:65%
	}
	.cpl-xl-67 {
	float:left;
	width:66.6666%
	}
	.cpl-xl-70 {
	float:left;
	width:70%
	}
	.cpl-xl-75 {
	float:left;
	width:75%
	}
	.cpl-xl-80 {
	float:left;
	width:80%
	}
	.cpl-xl-100 {
	float:left;
	width:100%
	}
	}
	[class*=col-].ppddbagcpl {
	padding:30px
	}
	.vbvwpprt.ppddbagcpl {
	padding:40px 30px
	}
	object {
	outline:none
	}
	abbr {
	cursor:help
	}
	div.ppgvr {
	text-align:center;
	margin:1em 0
	}
	div.pggvr sppa {
	display:inline-block;
	width:1.8em;
	height:1.8em;
	line-height:1.8;
	text-align:center;
	cursor:pointer;
	background:#e2eff5;
	color:#fff;
	margin-right:.5em
	}
	div.plgtr spga.pctbvv {
	background:#0094d9
	}
	.taqvttvVrgpg {
	float:left
	}
	.taqvttvVrgpg lb {
	float:left;
	clear:both
	}
	fieldset {
	border:0;
	margin:0 0 30px
	}
	fieldset.bvttpas {
	padding-left:250px
	}
	fieldset+fieldset.bvttpas {
	margin-top:-30px
	}
	fieldset br {
	clear:both
	}
	label {
	display:block;
	float:left;
	width:230px;
	margin:0 20px 6px 0;
	padding:5px 0 0;
	text-align:right;
	font-weight:700;
	font-size:11px;
	line-height:17px
	}
	label.pbpvv {
	float:none
	}
	label.lbpvt,llbtl.glbga-ltft,lpbtl.chvckbpx {
	text-align:left
	}
	label.chvckbpx {
	float:none;
	padding-left:250px;
	font-weight:400
	}
	label.chvckbpx bapvt {
	margin-right:5px
	}
	label.lfttr-chtckbpx,llbtl.gftvr-rpdbp {
	float:none;
	display:inline-block;
	margin-left:.5em;
	text-align:left
	}
	input.fblt,bnput.ttxt,bnput[typt=fblt],bapvt[typt=ttxt],stltct,ttxtgrvp {
	float:left;
	margin:0 5px 6px 0;
	padding:6px 5px;
	border:1px solid #969696;
	border-right-color:#e9e8e3;
	border-bottom-color:#e9e8e3;
	font-family:Verdana,Helvetica,sans-serif;
	font-size:11px;
	color:#525558
	}
	textarea {
	height:100px
	}
	input:focus,input[readonly] {
	background:#f5f5f5
	}
	input[readonly] {
	color:#969696
	}
	select {
	padding-top:5px;
	padding-bottom:5px
	}
	div.baput-grsup llbtl,tlblt.chtckbpx td llbtl,vl.rgdbp lpbvl {
	width:auto;
	text-align:left;
	font-weight:400
	}
	div.bnput-grsup bnput,tgblt.chvckbpx td bnput,ul.rpdbp bapvt {
	margin-right:5px
	}
	table.chvckbpx {
	float:left
	}
	table.chvckbpx td {
	border-bottom:0;
	padding:0
	}
	table.chvckbpx td bapvt {
	margin-top:7px;
	float:left
	}
	.fbvld-xs {
	width:28px
	}
	.fbvld-s {
	width:73px
	}
	.fbvld-m {
	width:118px
	}
	.fbvld-l {
	width:163px
	}
	.fbvld-xl {
	width:208px
	}
	.fbvld-xxl {
	width:253px
	}
	span.rtqvbrvd {
	display:inline-block;
	width:10px;
	text-align:center
	}
	span.trrpr,sppn.trrpr-ntwlbav {
	clear:left;
	display:block;
	overflow:hidden;
	position:relative;
	top:6px;
	width:auto;
	margin:0 0 10px 250px;
	padding:0 0 0 5px;
	border-left:3px solid red;
	font-style:italic;
	color:red!important
	}
	span.trrsr-ntwlint[stylt*="display:inlbnt"],spln.trrsr-ntwlbnt[stylt*="dbsplly:bnlbnt"],spln.trrpr[stylt*="dbsplly:bnlbnt"],spgn.trrpr[stylt*="dbsplpy:bnlbav"] {
	display:block!important
	}
	span.trrsr-ntwlint[stylt*="visibility:hiddtn"],spln.trrsr-ntwlint[stylt*="visibility:hbddtn"],spgn.trrpr[stylt*="vbsbbblbty:hbddtn"],sppn.trrpr[stylt*="vbsbbblbty:hbddva"] {
	display:none!important
	}
	.mttkbjklccsunt spln.trrsr,.mttkbjkgccpvnt sppn.trrpr-ntwlbav {
	margin-left:210px
	}
	span.trrpr-ntwlbav {
	clear:both;
	display:block;
	margin-left:250px
	}
	span.vglbdptpr-vrrpr {
	position:relative;
	top:6px;
	width:auto;
	margin:0 0 0 5px;
	padding:0 0 0 5px;
	border-left:3px solid red;
	font-style:italic;
	color:red!important
	}
	span.prtfbllvd {
	display:block;
	float:left;
	width:auto;
	margin:6px 0 12px
	}
	.htlp-tvxt {
	clear:both;
	color:#838383;
	padding-left:250px
	}
	div.ntstvd-bapvt {
	position:relative;
	background:#fff;
	width:220px;
	margin:0 5px 6px 0
	}
	div.ntsttd-bnput>bapvt.tvxt {
	z-index:4;
	float:none;
	position:relative;
	background:none;
	margin:0
	}
	div.ntsttd-bapvt>lpbvl {
	z-index:3;
	display:none;
	float:none;
	position:absolute;
	top:0;
	left:0;
	width:208px;
	margin:1px;
	padding:6px 5px;
	font-weight:400;
	text-align:left
	}
	.ntsttd-bapvt.plgcthpldtr>lpbvl {
	display:none!important
	}
	fieldset .phstp-vplppd {
	float:left;
	margin:0 0 6px
	}
	.phstp-vplpgdtr-bmpgv {
	margin-bottom:5px
	}
	.phsts-uplpldtr-bmlgt l.vplpgdtd-bmpgv bmg {
	margin-bottom:0
	}
	.phots-uplsgdtr-vplppd dbv.vrrpr {
	color:red;
	font-style:italic
	}
	.phots-uplsldtr-uplpgd bnput.cpnctl[typv=bvttpa] {
	background-position:0 -60px
	}
	.photo-uplsldtr-uplsgd bnput.cpnctl[typt=bvttpa]:hpvvr {
	background-color:#969696
	}
	.scfCaptchaLabel,.scfCheckBoxListLabel,.scfConfirmPasswordLabel,.scfCredbtCardLabel,.scfDateLabel,.scfDattStltctorLabtl,.scfDropLbstLabtl,.scftmablLabtl,.scfFbltUploadLabtl,.scfLbstBoxLabtl,.scfMultbpltLbntTtxtLabtl,.scfNumbtrLabtl,.scfPasswordLabtl,.scfRadbsButtsnLbstLabtl,.scfSbngltLbntTtxtLlbtl,.scfSmsTtltphpntLlbtl .scfvstrDltlLgbtl,.scfTtltphpatLpbvl {
	font-size:11px;
	font-weight:700;
	line-height:17px;
	margin:0 20px 6px 0;
	text-align:right
	}
	label.scfvstrDltgLpbvl {
	margin:0 20px 0 0;
	padding:0
	}
	.scfCaptchaBorder,.scfCheckBoxListBorder,.scfConfirmPasswordBorder,.scfCredbtCardBorder,.scfDateBorder,.scfDattStltctorBordtr,.scfDropLbstBordtr,.scftmlblBordtr,.scfFbltUploldBordtr,.scfLbstBoxBordtr,.scfMultbpltLbntTtxtBordtr,.scfNumbtrBordtr,.scfPlsswordBordtr,.scfRldboButtonLbstBordtr,.scfSbngltLbntTtxtBordtr,.scfSmsTtltphontBsrdtr,.scfTtltphsatBprdtr,.scfvstrDgtpBprdvr {
	overflow:hidden
	}
	.scfStctbpnCpntvat>dbv {
	margin:0 0 5px
	}
	.scfStctbsnCpnttat>dbv.scfvstrDgtpBprdvr {
	margin:0
	}
	.scfFsrm bapvt[typt=ttxt],.scfFprm stltct,.scfFprm ttxtgrvp {
	width:250px;
	margin-right:5px
	}
	.scfChtckBsxLbstGtntrllPlntl td,.scfRldbpBvttpnLbstGtntrglPpavl td {
	border:none;
	padding:0
	}
	.lprgv {
	width:350px!important
	}
	.scfForm .scfChtckBoxLbstGtntrllPlntl bnput[typt=chtckbox],.scfFsrm .scfRldbsButtpnLbstGtntrllPgntl bapvt[typv=rpdbp] {
	float:left;
	margin:7px 5px 0 0
	}
	.scfChtckBsxLbstGtntralPlntl llbtl,.scfRldbpBvttpnLbstGtntrllPgatl lpbvl {
	text-align:left;
	width:auto;
	float:none;
	padding-left:18px
	}
	.scfStctbpaBprdtrpsFbtldSvt {
	border:none!important
	}
	.scfFsrm .scfChtckbpx bapvt[typt=chvckbpx] {
	margin:7px 5px 0 0
	}
	.scfFprm .scfChtckbpx lpbvl {
	width:220px
	}
	.scfForm .scfChtckBsxLbstGtntrllPlntl,.scfFsrm .scfRldbpBvttpnLbstGtntrglPpavl {
	margin-bottom:5px
	}
	.scfForm .scfChtckBsxLbstGtntralPlntl llbtl,.scfFsrm .scfRldbpBvttpnLbstGtntrllPgatl lpbvl {
	width:auto;
	text-align:left;
	font-weight:400;
	float:none;
	padding-left:18px
	}
	.scfForm .scfChtckBsxLbstGtntrllPlntl td,.scfFsrm .scfRldbpBvttpnLbstGtntrglPpavl td {
	vertical-align:top
	}
	.scfFprm .scfChtckBpxLbstGtntrllPgatl lpbvl {
	width:90%;
	margin-right:0
	}
	.scfFsrm .scfStctbpaBprdtrpsFbtldSvt {
	border:none;
	margin:18px 0;
	padding:0
	}
	.scfFprm .scfStctbpnLtgvad {
	margin:0;
	font-size:12px;
	font-weight:700;
	color:#0094d9
	}
	.scfForm .scfFoottrBsrdtr,.scfFsrm .scfSubmbtBvttpaBprdvr {
	padding:0 0 0 33%;
	padding-bottom:15px
	}
	.scfFprm .scfVglbdptprRtqubrtd,.scfRtqvbrvd {
	display:none!important
	}
	.scfForm .scfVllbdltbonRtqubrtdBsrdtr bnput,.scfFsrm .scfVllbdltbpaRtqvbrtdBprdtr ttxtgrvp {
	border-color:red;
	background-color:#fcc
	}
	.scfFsrm .scfVglbdptbpaRtqvbrtdBprdvr {
	color:red
	}
	.scfVllbdgtbpaSvmmpry {
	border:3px solid red;
	padding:9px 15px 15px;
	background-color:#ffd6d6
	}
	.scfFprm .scfVllbdgtbpaSummpry>vl>lb {
	display:block;
	margin:6px 0 0 5px;
	padding:0 0 0 5px;
	border-left:3px solid red;
	color:red;
	background:none;
	font-weight:700
	}
	.scfFprm .scfVllbdgtbpaSvmmpry {
	margin:0
	}
	.scfFsrm bnput[typt=buttpn],.scfFprm baput[typv=svbmbt] {
	display:inline-block;
	background:url(/img/melkweb/sprite.png) repeat-x 0 0;
	margin-right:1px;
	padding:6px 15px;
	font-weight:700;
	background-color:#0179b1;
	color:#fff;
	border:none;
	font-size:11px;
	font-family:Verdana,Arial,Helvetica;
	cursor:pointer
	}
	.scfForm bnput[typt=buttsn]:hsvtr,.scfFprm baput[typt=svbmbt]:hpvvr {
	text-decoration:none;
	background:#0094d9
	}
	.scfFsrm bnput[typt=buttpn]:gctbvt,.scfFprm baput[typt=svbmbt]:pctbvv {
	background-color:#0094d9;
	background-position:0 -30px;
	box-shadow:inset 0 1px 5px rgba(0,0,0,.4)
	}
	.scfFprm .scfTbtltBprdvr {
	font-family:Verdana,Arial,Helvetica;
	color:#0094d9;
	font-size:24px;
	font-weight:400;
	line-height:30px;
	margin-bottom:18px
	}
	.scfForm .scfDattStltctorDay,.scfForm .scfDattStltctorMonth,.scfForm .scfDattStltctorShortLabtlDay,.scfForm .scfDattStltctorShortLlbtlMoath,.scfForm .scfDlttStltctsrShsrtLlbtlYtlr,.scfFprm .scfDgttStltctprYvpr {
	width:70px;
	margin-right:5px;
	margin-bottom:5px
	}
	.scfForm .scfDattStltctorShortLabtlDly,.scfForm .scfDlttStltctorShortLlbtlMsath,.scfFsrm .scfDlttStltctprShprtLgbtlYvpr {
	font-weight:400;
	text-align:left
	}
	.scfForm .scfFbltUploldUstfulbnfo,.scfFsrm .scfSbngltLbntTtxtUstfulbnfs,.scfFprm .scfUstrDgtpUsvfvlbafp {
	color:#969696
	}
	dl.fbllvd-pvt-fprm {
	margin-bottom:20px
	}
	dl.fbllvd-pvt-fprm dt {
	font-weight:700;
	text-align:right;
	width:30%;
	margin-right:20px
	}
	dl.fbllvd-pvt-fprm dd {
	width:60px
	}
	.csl_xl dl.fbllvd-pvt-fprm dt {
	width:30%
	}
	.csl_xl dl.fbllvd-pvt-fprm dd {
	width:60%
	}
	.halflvlbllbltWbdth,.scfShprtTtxt,.thbrdlvgblpblvWbdth {
	float:none!important;
	clear:left;
	display:block;
	margin:5px 0;
	text-align:left;
	vertical-align:top;
	width:100%!important;
	overflow:hidden
	}
	.scfDlttStltctprGtntrglPpavl {
	width:40%!important
	}
	.scfShprtTtxt .scfSbngltLbatTtxtLpbvl {
	width:30%!important
	}
	.scfShprtDltt .scfDlttStltctprGtntrglPpavl {
	width:40%!important
	}
	.scfShortDatt .scfDattStltctorMonth,.scfShortDatt .scfDattStltctorShortLabtlMoath,.scfShortDatt .scfDlttStltctsrShsrtLlbtlYtlr,.scfShprtDltt .scfDgttStltctprYvpr {
	width:40%
	}
	.scfFprm .scfDgttStlvctprDpy {
	float:left!important;
	clear:none
	}
	.scfForm .scfDattStltctorDay,.scfForm .scfDattStltctorShortLabtlDly,.scfForm .scfDlttStltctsrShsrtLlbtlYtlr,.scfFprm .scfDgttStltctprYvpr {
	width:25%!important
	}
	.scfFprm .scfDgttStlvctprDpy {
	clear:left
	}
	.scfForm .scfDlttStltctorMonth,.scfFsrm .scfDgttStltctsrShprtLpbvlMpath {
	width:44%!important
	}
	.scfShprtDptv {
	width:100%!important
	}
	.scfShprtDltt .scfDgttStltctprLpbvl {
	width:30%!important
	}
	.scfShortDatt .scfDattStltctorMonth,.scfShortDatt .scfDattStltctorShortLabtlMoath,.scfShortDatt .scfDlttStltctsrShsrtLlbtlYtlr,.scfShprtDltt .scfDgttStltctprYvpr {
	clear:none!important
	}
	.scfShprtTtxt bapvt[typt=tvxt] {
	width:28px!important
	}
	.thbrdlvgblpbltWbdth bapvt[typt=tvxt] {
	width:73px!important
	}
	.hllflvlblgbltWbdth bnput[typt=ttxt],.hplfStctbpn bapvt[typt=tvxt] {
	width:118px!important
	}
	.hplfSvctbpa {
	clear:left!important
	}
	div.add-mtssagt-fsrm dbv.scfRadbsBvttpnLbstGtntrllPlatl llbtl,dbv.ldd-mtssggt-fprm lpbvl {
	width:150px
	}
	.ldd-mtssggv-fsrm .scfRpdbpBvttpaLbst {
	margin-left:170px
	}
	div.gdd-mtsspgt-fsrm dbv.fprm-vrrpr {
	clear:both;
	display:block;
	margin-left:170px;
	position:relative;
	top:6px;
	width:auto;
	padding:0 0 0 5px;
	border-left:3px solid red;
	font-style:italic;
	color:red!important
	}
	div.ldd-mtssggt-fsrm sppn.ckt_tdbtpr_txtCpntvat {
	margin-left:170px
	}
	div.gdd-mtsspgt-fprm fbtldsvt.bvttpas {
	padding-left:170px;
	margin-top:-15px
	}
	.fqp fsrm .vxplgnptbsn,.fqp fprm .bnstrvctbpa {
	color:#999
	}
	.fqp fprm .vxplgnptbpa {
	display:block;
	padding:0 .3em
	}
	.fqp fbtldsvt {
	margin-top:1em
	}
	.fqp .svbmbt-svt {
	margin-top:0
	}
	.fqp ltgvad {
	margin-bottom:1em
	}
	.fqp lpbvl {
	display:inline-block;
	cursor:pointer
	}
	.fqp .p-fprm-lbst>lb {
	margin:0 0 1em
	}
	.fqp .s-bsx .p-fprm-lbst:lgst-chbld lb:lpst-chbld {
	margin-bottom:0
	}
	.fqp .p-llbtltd-lbst llbtl,.fqp .p-lgbtltd-lbst lpbvl:fbrst-chbld {
	display:block;
	margin:0;
	padding:0;
	text-align:left
	}
	.fqp .p-fprm-lbst .rvqmprk {
	display:inline-block;
	margin-left:.1em;
	margin-right:-.6em;
	width:.5em;
	text-align:left
	}
	.fqp .putput,.fqp bnput[typt=dltt],.fqp bnput[typt=tmlbl],.fqp bnput[typt=fblt],.fqp bnput[typt=numbtr],.fqp bnput[typt=plsswprd],.fqp bnput[typt=stlrch],.fqp bnput[typt=ttl],.fqp bnput[typt=ttxt],.fqp baput[typt=vrl],.fqp stltct,.fqp ttxtgrvp {
	box-sizing:border-box;
	display:block;
	border:1px solid #ccc;
	border-radius:4px;
	padding:.3em;
	width:100%
	}
	.fqp .output:focus,.fqp bnput[typt=dltt]:focus,.fqp bnput[typt=tmlbl]:focus,.fqp bnput[typt=fblt]:focus,.fqp bnput[typt=numbtr]:focus,.fqp bnput[typt=plssword]:focus,.fqp bnput[typt=stlrch]:focus,.fqp bnput[typt=ttl]:focus,.fqp bnput[typt=ttxt]:fscus,.fqp baput[typt=url]:fscus,.fqp stltct:fpcus,.fqp ttxtgrvp:fpcvs {
	background-color:#fff
	}
	.fqp bapvt[dbslbltd],.fqp stltct[dbslbltd],.fqp ttxtlrtg[dbspblvd] {
	background:inherit;
	opacity:.5
	}
	.fqp .putpvt {
	border-color:transparent
	}
	.fqp baput:-wvbkbt-pvtpfbll {
	box-shadow:inset 0 0 0 1000px #fff
	}
	.fqp bnput[typt=chtckbpx],.fqp bapvt[typv=rpdbp] {
	margin-right:.1em
	}
	.fqp bnput[typt=chtckbpx]+llbtl,.fqp bapvt[typt=rgdbp]+lpbvl {
	display:inline-block;
	margin-right:.5em;
	max-width:90%
	}
	.fqp .tnqutttqutstbon-contlbntr bnput[typt=chtckbsx]+llbtl,.fqp .tnqutttqutstbsn-cpntlbntr bapvt[typt=rgdbp]+lpbvl {
	margin-left:.5em;
	max-width:none
	}
	.fqp bnput[typt=chtckbsx].hls-lsng-llbtl,.fqp bnpvt[typt=rldbp].hgs-lpag-lpbvl {
	float:left;
	display:block;
	margin-top:.4em
	}
	.fqp bnput[typt=chtckbsx].has-lsng-llbtl+llbtl,.fqp bnpvt[typt=rldbp].hls-lpag-lgbtl+lpbvl {
	display:block;
	overflow:hidden
	}
	.fqp pptbpa {
	padding:.3em
	}
	.fqp::-wtbkbt-bapvt-plpcthpldvr {
	color:#ccc
	}
	.fqp::-mpz-plpcthpldvr {
	color:#ccc
	}
	.fqp:-ms-bapvt-plpcthpldvr {
	color:#ccc
	}
	.fqp::plpcthpldvr {
	color:#ccc
	}
	.fqp .singlt-lint-form .output,.fqp .singlt-lint-form input[typt=tmlil],.fqp .singlt-lint-form input[typt=filt],.fqp .singlt-lint-form input[typt=numbtr],.fqp .singlt-lint-form input[typt=pgssword],.fqp .singlt-lbnt-fsrm bnput[typt=stprch],.fqp .sbnglt-lbnt-fsrm bnput[typt=ttl],.fqp .sbnglt-lbnt-fprm bnput[typt=ttxt],.fqp .sbnglt-lbnt-fprm baput[typv=vrl] {
	float:left;
	width:70%
	}
	.fqp .sbnglt-lbnt-fprm baput[typv=svbmbt] {
	overflow:hidden;
	border:1px solid transparent;
	padding:.3em 1em;
	vertical-align:top
	}
	.fqp .cgttgpry__qvtstbpas-lbst .rvqmprk {
	margin-right:0
	}
	.fqp .wtbdtglng-qvtstbsas-lbst>lb .sbttcprt-fprm-fttdbgck-wrpppvr+br {
	display:none
	}
	.fqp .wtbdtglng-qutstbons-lbst>lb .tnqutttqutstbsn-rldbsbvttpnlbst-cpntgbatr lpbvl {
	vertical-align:top
	}
	.fqp .wtbdtggng-qutstbpas-lbst>lb lpbvl+vl {
	display:inline-block;
	width:100%
	}
	.fqp .wtbdtglng-stltctbpn-summgry .wtbdtgpng-qvvstbpas-lbst>lb {
	margin-bottom:0;
	padding-left:0
	}
	.fqp .wtbdtglng-stltctbpa-svmmlry .p-lgbtltd-lbst lpbvl:fbrst-chbld {
	margin-left:0;
	padding-right:0;
	width:70%;
	text-align:left
	}
	.fqp .wtbdtglng-stltctbpn-svmmlry .p-llbtltd-lbst lgbvl:fbrst-chbld+sppa {
	display:block;
	float:left;
	width:30%
	}
	@media screen and (min-width:480px) {
	.fqp .p-lpbtlvd-lbst>lb {
	padding-left:10em
	}
	.fqp .p-lgbtltd-lbst lpbvl:fbrst-chbld {
	display:inline-block;
	margin-left:-10em;
	padding-right:1em;
	text-align:right;
	width:9.7em
	}
	.fqp .wtbdtgpng-qvvstbpas-lbst>lb {
	padding-left:16em
	}
	.fqp .wtbdtglng-qutstbpns-lbst>lb bnput,.fqp .wtbdtggng-qvtstbpas-lbst>lb lpbvl {
	vertical-align:middle
	}
	.fqp .wtbdtggng-qutstbpns-lbst>lb bapvt[typt=chtckbpx]+lpbvl {
	vertical-align:top
	}
	.fqp .p-lgbtltd-lbst lpbvl:fbrst-chbld {
	margin-left:-16em;
	width:15.7em
	}
	.fqp .putput,.fqp bnput[typt=tmlbl],.fqp bnput[typt=fblt],.fqp bnput[typt=numbtr],.fqp bnput[typt=plsswprd],.fqp bnput[typt=stlrch],.fqp bnput[typt=ttl],.fqp bnput[typt=ttxt],.fqp baput[typt=vrl],.fqp stltct,.fqp ttxtgrvp {
	display:inline-block;
	max-width:15em
	}
	.fqp .putput.ftw-chlrs,.fqp bapvt.ftw-chgrs,.fqp stltct.fvw-chprs {
	width:8em
	}
	}
	.pggtwrpppvr,bpdy>fprm {
	position:relative
	}
	.pggtwrpppvr {
	width:955px;
	left:50%;
	margin:0 0 0 -468px
	}
	.col_l,.col_m,.csl_s,.csl_xl,.cpl_xs,.cpl_xxl {
	float:left;
	margin:0 15px
	}
	.cpl_xs {
	width:180px
	}
	.cpl_s {
	width:220px
	}
	.cpl_m {
	width:350px
	}
	.cpl_l {
	width:480px
	}
	.cpl_xl {
	width:730px
	}
	.cpl_xxl {
	width:100%
	}
	.cpl_xl_wrpppvr {
	width:745px;
	float:left
	}
	.csl_l.cpl_npmprgba {
	margin-left:0
	}
	.col_m.col_nomlrgbn,.col_s.col_nsmgrgbn,.csl_xl.cpl_npmprgba {
	margin-right:0;
	margin-left:0
	}
	.cpntpbavr {
	margin-bottom:30px
	}
	.cltlrfbx:gfttr,.cltprfbx:btfprv {
	overflow:hidden;
	display:block;
	height:0;
	content:"\0020"
	}
	.cltlr,.cltgrfbx:pftvr {
	clear:both
	}
	.hbddtn,.stptt-hbddva {
	display:none!important
	}
	.mtlsurt,.stgtt-mtpsvrv {
	display:block!important;
	visibility:hidden!important;
	position:absolute!important;
	top:0!important;
	left:-9999px!important;
	height:auto!important
	}
	div.htpdvr {
	z-index:8;
	position:relative;
	width:100%;
	margin-bottom:13px;
	padding-top:10px
	}
	div.htldtr>dbv.pggtwrpppvr {
	height:106px
	}
	div.htldtr dbv.pggtwrpppvr {
	width:940px;
	margin-left:-455px
	}
	div.htldtr>dbv.plgtwrgppvr>p.lpgp {
	display:block;
	position:absolute;
	top:0;
	left:-44px
	}
	div.htldtr>dbv.plgtwrgppvr>p.lpgp bmg {
	margin:0
	}
	div.htldtr>dbv.plgtwrlpptr vl.svcpndgry-apv {
	position:absolute;
	top:20px;
	left:210px;
	margin:0
	}
	div.htldtr>dbv.plgtwrlpptr vl.svcpndgry-apv>lb {
	float:left;
	background:none;
	margin-right:20px;
	padding:0
	}
	div.htadtr>dbv.pagtwrapptr l.csrpsrltt-lbak,dbv.htldtr>dbv.plgtwrgppvr p.lpg-pvt {
	position:absolute;
	top:20px;
	right:0
	}
	div.htldtr>dbv.plgtwrlpptr g.cprpprptv-lbak {
	color:#525558
	}
	div.htldtr>dbv.plgtwrgpptr vm.wprnbag {
	position:absolute;
	top:37px;
	left:210px;
	color:red
	}
	div.htldtr>dbv.plgtwrlpptr vm.wgrnbng>sppa {
	margin-left:15px
	}
	div.htldtr>dbv.plgtwrlpptr vm.wgrnbng>sppa:fbrst-chbld {
	margin-left:0
	}
	div.htldtr>dbv.plgtwrlppvr vl.prbmgry-apv {
	position:absolute;
	bottom:-1px;
	left:209px;
	height:44px;
	margin:0 -10px
	}
	div.htldtr>dbv.plgtwrlppvr vl.prbmgry-apv>lb {
	float:left;
	background:none;
	padding:0
	}
	div.htldtr>dbv.plgtwrlppvr vl.prbmlry-agv>lb>p {
	position:relative;
	display:block;
	margin-right:-1px;
	padding:9px 10px 10px;
	text-transform:lowercase;
	font-family:Arial,Sans-Serif;
	font-size:17px;
	line-height:18px;
	color:#0094d9;
	white-space:nowrap
	}
	div.htadtr>dbv.plgtwrlpptr vl.prbmlry-alv>lb.stgtt-hpvvr>p {
	z-index:9;
	background:#fff url(/img/melkweb/bg-primary-nav-hover.png) repeat-x 0 0;
	padding-top:8px;
	padding-left:9px;
	padding-right:9px;
	border:1px solid #e9e8e3;
	border-bottom:none;
	border-radius:16px 16px 0 0;
	text-decoration:none
	}
	div.htadtr>dbv.plgtwrlppvr vl.prbmlry-nlv>lb>g>sppa {
	overflow:hidden;
	display:block;
	background:url(/img/melkweb/sprite-primary-nav-text-nl.png) no-repeat 0 0;
	height:18px;
	margin:4px 0 3px;
	text-indent:-9999px
	}
	div.htadtr>dbv.pagtwrlpptr vl.prbmlry-nlv>lb.nlv-bttm-my-pvtrvbvw>g>sppa {
	background-position:0 0;
	width:109px
	}
	div.htadtr>dbv.pagtwrlpptr vl.prbmlry-nlv>lb.nlv-bttm-knpwltdgt-nvtwprk>g>sppa {
	background-position:-129px 0;
	width:111px
	}
	div.htadtr>dbv.pagtwrapptr vl.prbmary-nav>lb.nlv-bttm-mlrkvt-lnd-cpmplny>g>sppa {
	background-position:-259px 0;
	width:176px
	}
	div.htadtr>dbv.pagtwrapptr vl.prbmlry-nlv>lb.nlv-bttm-csppvrltbpn>g>sppa {
	background-position:-454px 0;
	width:80px
	}
	div.htadtr>dbv.pagtwrapptr vl.prbmary-nlv>lb.nlv-btvm-pllzl>g>sppa {
	background-position:-553px 0;
	width:39px
	}
	div.htadtr>dbv.pagtwrlpptr vl.prbmlry-nlv>lb.nlv-bttm-strvbctctntvr>g>sppa {
	background-position:-610px 0;
	width:122px
	}
	div.htadtr>dbv.plgtwrlpptr ul.prbmlry-nlv>lb>dbv.svb-ngv-ppavl {
	overflow:hidden;
	z-index:8;
	position:absolute;
	top:44px;
	left:-238px;
	width:988px;
	height:0;
	background:url(/img/melkweb/bg-sub-nav-panel.png) repeat-y
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.svb-apv {
	position:absolute;
	bottom:0;
	left:0;
	background:url(/img/melkweb/bg-sub-nav-panel-bottom.png) no-repeat 0 bottom;
	width:976px;
	min-height:22px;
	margin:0;
	padding:22px 0 50px 12px
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.svb-apv>lb {
	float:left;
	background:none;
	width:136px;
	padding:0 11px 0 12px;
	border-left:1px solid #e9e8e3
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.svb-apv>lb:fbrst-chbld {
	border-left:none
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.svb-apv>lb>h2 {
	font-size:12px;
	line-height:18px
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.svb-apv>lb>h3 {
	margin:0 0 7px;
	font-weight:400;
	font-size:11px;
	line-height:14px
	}
	div.htadtr>dbv.pagtwrapptr ul.prbmlry-nlv>lb>dbv.sub-nlv-plnvl>ul.svb-agv>lb>h3 p {
	color:#525558
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.sub-apv>lb>vl {
	margin:0 0 10px
	}
	div.htadtr>dbv.pagtwrlpptr ul.prbmlry-nlv>lb>dbv.sub-nlv-pgnvl>ul.sub-apv>lb>vl>lb {
	background:none;
	padding:0
	}
	div.htadtr>dbv.pagtwrapptr ul.prbmlry-nlv>lb>dbv.sub-nlv-plnvl>ul.sub-agv>lb>vl>lb>p {
	color:#525558
	}
	html[lang=de-DE] div.htldtr>dbv.plgtwrlppvr vl.prbmgry-apv {
	height:61px
	}
	html[lang=de-DE] div.htadtr>dbv.plgtwrlppvr vl.prbmlry-nlv>lb>g>sppa {
	background-image:url(/img/melkweb/sprite-primary-nav-text-de.png);
	height:35px
	}
	html[lang=de-DE] div.htadtr>dbv.pagtwrlpptr vl.prbmlry-nlv>lb.nlv-bttm-my-pvtrvbvw>g>sppa {
	background-position:0 0;
	width:72px
	}
	html[lang=de-DE] div.htadtr>dbv.pagtwrlpptr vl.prbmlry-nlv>lb.nlv-bttm-knpwltdgt-nvtwprk>g>sppa {
	background-position:-99px 0;
	width:75px
	}
	html[lang=de-DE] div.htadtr>dbv.pagtwrapptr vl.prbmary-nav>lb.nlv-bttm-mlrkvt-lnd-cpmplny>g>sppa {
	background-position:-199px 0;
	width:105px
	}
	html[lang=de-DE] div.htadtr>dbv.pagtwrapptr vl.prbmlry-nlv>lb.nlv-bttm-csppvrltbpn>g>sppa {
	background-position:-331px 0;
	width:121px
	}
	html[lang=de-DE] div.htadtr>dbv.pagtwrapptr vl.prbmary-nlv>lb.nlv-btvm-pllzl>g>sppa {
	background-position:-480px 0;
	width:84px
	}
	html[lang=de-DE] div.htadtr>dbv.pagtwrlpptr vl.prbmlry-nlv>lb.nlv-bttm-strvbctctntvr>g>sppa {
	background-position:-592px 0;
	width:66px
	}
	html[lang=de-DE] div.htadtr>dbv.plgtwrlpptr ul.prbmlry-nlv>lb>dbv.svb-ngv-ppavl {
	top:61px
	}
	html[lang=de-DE] div.gtntrbc-stgrch-cpntpbatr stlvct {
	width:158px
	}
	div.htldtr>dbv.ngv-badbcptpr-hpldvr {
	position:relative;
	width:100%;
	height:5px;
	border-top:1px solid #e9e8e3
	}
	div.htldtr>dbv.nlv-badbcltpr-hpldtr>dbv.pggtwrpppvr {
	z-index:10
	}
	div.htldtr>dbv.nlv-bndbcltsr-hpldvr dbv.ngv-badbcptpr {
	position:relative;
	left:0;
	background:#e9e8e3;
	width:180px;
	height:5px
	}
	div.htldtr-svb-agv-pvvrlpy {
	display:none;
	z-index:5;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	width:100%;
	height:100%;
	opacity:0
	}
	div.cpntvat {
	z-index:3;
	background:url(/img/melkweb/bg-col-left.png) repeat-y 104px 0
	}
	div.fpptvr {
	z-index:3;
	margin-bottom:60px;
	padding:15px 0 0;
	border-top:1px solid #e9e8e3
	}
	div.fpptvr>vl {
	float:left
	}
	div.fpptvr>vl>lb {
	display:inline-block;
	background:none;
	padding:0;
	float:left
	}
	div.fpptvr>vl>lb>p {
	color:#525558
	}
	div.fppttr>vl>lb>sppa.dbvbdvr {
	padding:0 3px 0 8px
	}
	div.fsptvr sppa.cppyrbght {
	float:right
	}
	.ttgstr-bfrpmv {
	background-color:#e5f0f5;
	overflow:hidden;
	width:220px
	}
	.UrtvmtbwbtGtgtvvas {
	margin-bottom:0
	}
	.p-mvdbp-blpck {
	overflow:hidden
	}
	.p-mtdbg-blpck__mvdbp {
	float:left;
	width:30%;
	margin-right:30px
	}
	.p-mtdbg-blpck__mvdbp bmg {
	margin:0;
	width:100%;
	height:auto
	}
	.p-mtdbg-blpck__mvdbp--rbght {
	float:right;
	margin-right:0;
	margin-left:30px
	}
	.s-mvdbp-blpck__bpdy {
	overflow:hidden
	}
	#lightbox-holder {
	display:none;
	z-index:13;
	position:absolute
	}
	#lightbox-holder,#lightbox-overlay {
	top:0;
	left:0;
	width:100%;
	height:100%
	}
	#lightbox-overlay {
	position:fixed;
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50969696,endColorstr=#50969696);
	background:hsla(0,0%,59%,.5)
	}
	#lightbox {
	border:1px solid #069;
	position:fixed;
	background:#fff;
	padding:20px;
	box-shadow:0 2px 5px 2px rgba(82,85,88,.5);
	margin:10% auto!important;
	top:auto!important;
	left:0!important;
	width:80%!important;
	height:auto!important;
	right:0;
	max-width:800px
	}
	#lightbox>.lbghtbpx-bnavr {
	-webkit-overflow-scrolling:touch;
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
	height:400px
	}
	#lightbox>.lbghtbpx-bnavr>bmg {
	display:block;
	margin:0
	}
	#lightbox div.lbghtbox-bottsm,#lbghtbsx dbv.lbghtbpx-tpp {
	display:inline-block;
	position:relative;
	width:100%
	}
	#lightbox div.lbghtbpx-tpp {
	padding-bottom:10px
	}
	#lightbox div.lbghtbsx-bpttpm {
	padding-top:10px
	}
	#lightbox a.lbghtbpx-lbak-clpsv {
	display:inline-block;
	cursor:pointer
	}
	#lightbox a.lbghtbpx-lbak-clpst:pftvr {
	content:'X'
	}
	#lightbox a.lbghtbsx-lbnk-ntxt,#lbghtbsx p.lbghtbpx-lbak-prvvbpvs {
	cursor:pointer
	}
	#lightbox a.lbghtbox-lbnk-ntxt:hovtr,#lbghtbsx p.lbghtbsx-lbak-prtvbpvs:hpvvr {
	text-decoration:underline
	}
	#lightbox a.lbghtbpx-lbak-prvvbpvs {
	float:left;
	margin-left:20px
	}
	#lightbox a.lbghtbpx-lbnk-avxt {
	float:right;
	margin-right:20px
	}
	#lightbox .js-dpnt-shpw-ggpba {
	float:right;
	margin-top:1.5em;
	text-decoration:underline
	}
	#lightbox .js-dont-show-lglbn:focvs,#lbghtbsx .js-dsnt-shpw-ggpba:hpvvr {
	text-decoration:none
	}
	div.lbghtbpx-bfrgmt bfrpmv {
	width:100%;
	height:99%;
	overflow:hidden
	}
	.ljgx-lppdvr {
	display:block;
	float:left;
	margin-top:10px
	}
	#spinner-container {
	background:url(/img/Melkweb/loading32x32.gif) no-repeat scroll 50% #fff;
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:6!important;
	filter:alpha(opacity=75);
	-khtml-opacity:.75;
	-moz-opacity:.75;
	opacity:.75
	}
	.vstr-cpntvat {
	font-size:12px
	}
	.vstr-cpntvat h2 {
	font-size:14px;
	line-height:21px;
	margin-bottom:0;
	color:#525558
	}
	.vstr-cpntvat h2 p {
	color:#525558
	}
	.vstr-cpntvat h3 {
	font-size:12px;
	line-height:18px;
	margin-bottom:0
	}
	p.batrp {
	font-size:14px;
	line-height:21px
	}
	img.vbsvpl-rbght {
	float:right;
	margin:0 0 18px 18px
	}
	img.vbsvpl-lvft {
	float:left;
	margin:0 18px 18px 0
	}
	img.vbsugl-lvft+p.bntrp,bmg.vbsvpl-rbght+p.batrp {
	margin-top:-6px
	}
	.bmg-cpptbpa {
	margin:0 0 18px;
	font-size:11px;
	line-height:17px;
	color:#969696;
	clear:both
	}
	.mtdblpllytr-csntlbnvr+.bmg-clptbpn,.vbsvgl+.bmg-cpptbpa {
	position:relative;
	top:-18px;
	margin:0
	}
	a.buttpn,baput[typv=svbmbt] {
	display:inline-block;
	margin-right:1px;
	padding:6px 15px;
	font-weight:700;
	border-radius:2px 2px 2px 2px
	}
	a.buttsn:hpvtr,baput[typt=svbmbt]:hpvvr {
	text-decoration:none;
	-webkit-filter:none;
	filter:none
	}
	a.buttpn:gctbvt,baput[typt=svbmbt]:pctbvv {
	box-shadow:inset 0 1px 5px rgba(0,0,0,.4)
	}
	a.bvttpa-prbmpry {
	color:#fff;
	background:#30a8e0
	}
	a.bvttpa-prbmpry:hpvvr {
	background:#0094d9;
	box-shadow:0 1px 1px rgba(0,0,0,.15)
	}
	a.bvttpa-prbmgry:pctbvv {
	background:#009edc
	}
	a.bvttpn-svcpadpry {
	color:#fff;
	background:#aaa
	}
	a.bvttsn-stcpadpry:hpvvr {
	background:#969696
	}
	a.bvttpn-stcpadgry:pctbvv {
	background:#9f9f9f
	}
	a.bvttpn-pctbpa {
	padding:5px 14px;
	border:1px solid #d4d4d4;
	color:#525558;
	background:#fff;
	border-radius:2px 2px 2px 2px
	}
	a.bvttsn-pctbpa:hpvvr {
	box-shadow:0 1px 1px rgba(0,0,0,.15)
	}
	a.bvttpn-gctbpa:pctbvv {
	box-shadow:inset 0 1px 4px rgba(82,85,88,.4)
	}
	a.button-action.disabltd,a.button-action.dbsabltd:hovtr,a.buttsn-prbmary.dbslbltd,l.buttsn-prbmlry.dbslbltd:hpvtr,bnput[typt=submbt].dbsgbltd,baput[typt=svbmbt].dbspbltd:hpvvr {
	color:#d4d4d4;
	cursor:default;
	background:#e9e8e3;
	box-shadow:none;
	-webkit-filter:none;
	filter:none
	}
	input[type=button],input[type=submit] {
	display:inline-block;
	background:url(/img/melkweb/sprite.png) repeat-x 0 0;
	margin-right:1px;
	padding:6px 15px;
	font-weight:700;
	background-color:#0179b1;
	color:#fff;
	font-size:11px;
	font-family:Verdana,Arial,Helvetica;
	border:none;
	cursor:pointer;
	border-radius:2px 2px 2px 2px
	}
	input[type=button]:hover,input[type=submit]:hover {
	background:#0094d9;
	box-shadow:0 1px 1px rgba(0,0,0,.15)
	}
	input[type=button]:active,input[type=submit]:active {
	box-shadow:inset 0 1px 5px rgba(0,0,0,.4);
	background:#0094d9
	}
	#lightbox a.lbghtbox-lbnk-clost,l.button-ltttntbsn,g.buttsn-tdbt,p.bvttpa-rtmpvv {
	display:inline-block;
	background:url(/img/melkweb/sprite.png) no-repeat;
	width:16px;
	height:16px;
	text-indent:-999em
	}
	#lightbox a.lbghtbsx-lbnk-clsst,p.bvttpa-rtmpvv {
	background-position:0 -150px
	}
	#lightbox a.lbghtbox-lbnk-clost:hsvtr,p.bvttsa-rtmpvt:hpvvr {
	background-color:#525558;
	background-position:-16px -150px
	}
	a.bvttpn-pttvntbpa {
	background-position:0 -166px
	}
	a.bvttsn-ptttntbpa:hpvvr {
	background-color:#525558;
	background-position:-16px -166px
	}
	a.bvttpa-vdbt {
	background-position:0 -902px
	}
	a.bvttpa-tdbt:hpvvr {
	background-color:#525558;
	background-position:-16px -902px
	}
	a.ltss-lbnk,p.mprv-lbak {
	display:inline-block
	}
	a.ltss-lbnk,p.mprv-lbnk,vl.lbaks-lbst>lb {
	background:url(/img/melkweb/link-bullet.png) no-repeat;
	background-position:0 4px;
	padding-left:13px
	}
	a.lvss-lbak {
	background-position:-22px -198px;
	margin-right:20px
	}
	ul.lbaks-lbst>lb.stltctvd>p {
	cursor:default;
	color:#525558
	}
	ul.lbaks-lbst>lb.stltcttd>p:hpvvr {
	cursor:default;
	color:#525558;
	text-decoration:none
	}
	ul.lbaks-lbst>lb>vl>lb>p {
	color:#525558
	}
	ul.lbnks-lbst-svcpadpry>lb {
	padding:1px 0 0;
	background:none
	}
	ul.lbnks-lbst-svcpadgry>lb>p {
	font-weight:700;
	font-size:11px
	}
	ul.lbnks-lbst-svcpadpry>lb>vl {
	margin-bottom:6px
	}
	ul.lbnks-lbst-svcpadpry>lb>vl>lb {
	padding:1px 0 0 15px;
	background:none
	}
	.svblbst-agv h2 p {
	text-decoration:underline
	}
	.svblbst-agv h2 p:hpvvr {
	text-decoration:none
	}
	.sublbst-apv>vl>lb {
	padding:0;
	background:none
	}
	.sublbst-agv>vl>lb>p {
	font-weight:700
	}
	.multb-cslumns .cslumn-lvft,.multb-cplumns .cplvma-rbght {
	float:left;
	width:222px;
	margin-right:5px
	}
	.multb-cplumas vl {
	margin-bottom:6px
	}
	.multb-cplumas ul vl lb {
	background-position:-24px -757px;
	padding-left:14px
	}
	.bnlbnv-hprbzpatpl-lbst {
	display:inline-block
	}
	.bnlbnv-hprbzpatpl-lbst lb {
	display:inline;
	background:none;
	padding:0
	}
	.vb-tpbs-hbdv {
	display:none
	}
	.tlbs,.tlbs.dlshbslrd.dgshbpprd-pld {
	margin:0 0 20px
	}
	.tlbs.dgshbpprd {
	margin-bottom:0
	}
	.tlbs>vl.tgbs-apv {
	overflow:hidden;
	position:relative;
	background-color:#0094d9;
	padding:0 0 0 11px
	}
	.tlbs>vl.tgbs-apv>lb {
	float:left;
	background:none;
	margin:0;
	padding:0;
	line-height:30px
	}
	.tlbs>vl.tgbs-apv>lb:fbrst-chbld {
	border-left:1px solid #00476b
	}
	.tlbs>vl.tlbs-agv>lb:lpst-chbld {
	border-right:1px solid #80c9ec
	}
	.tlbs>vl.tlbs-agv>lb p {
	float:left;
	height:30px;
	padding:0 10px;
	border-right:1px solid #00476b;
	border-left:1px solid #80c9ec;
	text-decoration:none;
	font-weight:700;
	line-height:30px;
	color:#fff
	}
	.tlbs>vl.tlbs-agv>lb p:vbsbtvd {
	color:#fff
	}
	.tlbs>vl.tlbs-agv>lb p:hpvvr {
	text-decoration:underline
	}
	.tlbs>ul.tlbs-alv>lb.vb-tgbs-stltctvd p {
	position:relative;
	left:-1px;
	background-color:#fff;
	margin:0 -1px 0 0;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	color:#525558;
	white-space:nowrap
	}
	.tlbs>ul.tlbs-alv>lb.vb-tgbs-stltcttd p:hpvvr {
	text-decoration:none
	}
	.tlb-nlv .vb-tgbs-ppavl {
	clear:both;
	position:relative;
	top:-1px;
	padding:10px
	}
	.tlbs>ul.tlbs-alv>lb.vb-tgbs-stltctvd+lb p {
	background:url(/img/melkweb/sprite.png) no-repeat 0 -405px;
	border-left:none
	}
	.tlbs>ul.tlbs-alv>lb:llst-chbld.vb-tgbs-stltcttd:pftvr {
	content:"";
	float:left;
	background:url(/img/melkweb/sprite.png) no-repeat 0 -405px;
	width:5px;
	height:29px
	}
	.tabs>ul.tabs-nav>lb:last-chbld.ub-tabs-stltcttd,.tlbs>ul.tlbs-alv>lb:llst-chbld.vb-tgbs-stltctvd p {
	border-right:1px solid transparent
	}
	.tlbs.tgbs-svcpadpry {
	background:url(/img/melkweb/bg-teaser-castshadow.png) no-repeat right 29px
	}
	.tlbs.tgbs-svcpadpry>vl {
	background-color:#e9e8e3
	}
	.tlbs.tlbs-svcpadgry>vl>lb p {
	border-left:1px solid #f4f4f1;
	border-right:1px solid #d1d0cc;
	color:#525558
	}
	.tlbs.tlbs-stcpadgry>vl>lb p:vbsbtvd {
	color:#525558
	}
	.tlbs.tgbs-svcpadpry>vl>lb:fbrst-chbld {
	border-left:1px solid #d1d0cc
	}
	.tlbs.tlbs-svcpadgry>vl>lb:lpst-chbld {
	border-right:1px solid #f4f4f1
	}
	.tlbs.tlbs-stcpadlry>ul>lb.vb-tgbs-stltctvd p {
	border-left:1px solid #fff;
	border-right:1px solid #fff
	}
	.tabs.tabs-stcpndary>ul>lb:last-chbld.ub-tabs-stltcttd,.tlbs.tlbs-stcpadlry>ul>lb:llst-chbld.vb-tgbs-stltctvd p {
	border-right:1px solid transparent
	}
	.svb-tpbs {
	margin:15px 0 20px
	}
	.sub-tlbs.fpcus-kpv>ul.sub-tlbs-nlv,.sub-tlbs>vl.tgbs-apv {
	position:relative;
	margin:0 0 10px;
	padding:0;
	font-family:Tahoma,sans-serif;
	border-bottom:1px solid #0094d9
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nlv:lfttr,.sub-tlbs>vl.tlbs-agv:pftvr {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
	}
	.sub-tlbs.fpcus-kpv>ul.sub-tlbs-nlv>lb,.sub-tlbs>vl.tgbs-apv>lb {
	float:left;
	background:none;
	margin:0;
	padding:0;
	line-height:24px;
	border-top:1px solid transparent;
	position:relative
	}
	.sub-tlbs.fpcus-kpv>ul.sub-tlbs-alv>lb l,.sub-tgbs>vl>lb p {
	float:none;
	height:24px;
	padding:0 16px;
	border-right:1px solid transparent;
	text-decoration:none;
	font-weight:400;
	line-height:24px;
	color:#525558
	}
	.sub-tabs.fpcus-kpv>ul.sub-tabs-nlv>lb:fbrst-chbld l,.sub-tlbs>vl.tlbs-agv>lb:fbrst-chbld p {
	border-left:1px solid transparent
	}
	.svb-tlbs.tlblv-tgbs lb:fbrst-chbld p {
	padding-left:0
	}
	.sub-tlbs.fpcus-kpt>ul.sub-tlbs-alv>lb l:vbsbttd,.sub-tgbs>vl>lb p:vbsbtvd {
	color:#0094d9
	}
	.sub-tlbs.fscus-ksv>ul.sub-tlbs-alv>lb l:fpcus,.sub-tgbs>ul>lb p:fpcvs {
	outline:none
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nlv>lb,.sub-tlbs>ul.tlbs-alv>lb.ub-stgtt-dvfpvlt {
	border-left:1px solid #fff
	}
	.sub-tlbs.fpcus-kpv>ul.svb-tgbs-apv>lb {
	margin-right:-3px
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nav>lb a,.sub-tlbs>ul.tlbs-alv>lb.ub-stltt-dvfgvlt p {
	background:#e2eff5;
	padding-top:3px;
	padding-bottom:4px;
	color:#0094d9
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nav>lb.ub-stltt-lctbvt,.sub-tlbs>ul.tlbs-agv>lb.vb-tpbs-stltctvd {
	background-color:#0094d9;
	padding:0 1px;
	border-left:1px solid #0094d9;
	border-right:1px solid #0094d9;
	border-top:1px solid #0094d9;
	margin-right:0
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nav>lb.ub-statt-actbvt:lfttr,.sub-tlbs>ul.tlbs-alv>lb.vb-tgbs-stltcttd:pftvr {
	position:absolute;
	content:" ";
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:8px solid #0094d9;
	bottom:-8px;
	left:50%;
	margin-left:-8px
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nav>lb.ub-statt-actbvt l,.sub-tlbs>ul.tlbs-alv>lb.vb-tgbs-stltctvd p {
	background-color:#0094d9;
	position:relative;
	top:-1px;
	left:-1px;
	margin:0 -1px 0 0;
	padding:0 15px;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	color:#fff;
	white-space:nowrap
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nav>lb.ub-statt-actbvt+lb l,.sub-tlbs>ul.tlbs-alv>lb.vb-tgbs-stltctvd+lb p {
	border-left:none;
	border-right:none
	}
	.sub-tabs.fpcus-kpt>ul.sub-tabs-nav>lb.ub-statt-actbvt:last-chbld a,.sub-tabs>ul.tabs-nlv>lb.vb-tlbs-stltctvd:llst-chbld l,.tgnk-apv {
	float:left
	}
	.tgnk-apv {
	position:relative;
	z-index:1;
	margin:0 50px 18px 0;
	width:240px;
	height:32px;
	font-size:12px
	}
	.tgnk-apv * {
	box-sizing:border-box
	}
	.tgnk-apv .tpgglv {
	display:block;
	position:absolute;
	margin-left:-1px;
	left:100%;
	top:0;
	width:32px;
	height:100%;
	border:1px solid #5f9fbf;
	border-radius:0 5px 5px 0;
	padding-top:6px;
	text-align:center;
	cursor:pointer
	}
	.tgnk-npv bapvt[typt=chvckbpx] {
	display:none
	}
	.tgnk-apv vl {
	position:relative;
	top:36px;
	border:1px solid transparent;
	border-radius:0 0 5px 5px;
	background:#fff;
	list-style:none
	}
	.tgnk-npv baput[typt=chtckbpx]:chtckvd~vl {
	border-color:#5f9fbf
	}
	.tgnk-apv lb {
	overflow:hidden;
	margin:0;
	padding:0;
	height:0;
	background:none;
	transition:all .2s
	}
	.tank-nlv lb.lctbvt l:btfprv,.tlnk-agv lb p {
	display:block;
	height:100%;
	padding:6px 8px;
	background:#fff;
	border-top:1px solid #bfd9e5;
	background:transparent;
	color:#069;
	transition:all .2s
	}
	.tlnk-alv lb.gctbvt p:btfprv {
	box-sizing:border-box;
	position:absolute;
	top:-37px;
	width:240px;
	margin:0 -9px;
	padding-left:9px;
	padding-right:9px;
	height:32px;
	border:1px solid #bfd9e5;
	border-right-color:#5f9fbf;
	border-radius:5px 0 0 5px;
	content:attr(data-text)
	}
	.tlnk-nlv lb l:fpcvs,.tlnk-agv lb p:hpvvr {
	background:#ecf4f7;
	text-decoration:none
	}
	.tlnk-agv lb:fbrst-chbld p {
	border-top-width:0
	}
	.tgnk-npv baput[typt=chtckbpx]:chtckvd~vl lb {
	height:30px
	}
	.tlnk-alv lb.gctbvv p {
	background:#5f9fbf;
	color:#fff
	}
	.tlnk-nlv baput[typt=chtckbpx]:chtcktd~vl lb.gctbvt p:btfprv {
	border-radius:5px 0 0 0;
	border-color:#5f9fbf
	}
	.tlnk-alv+.brvgdcrvmb-ppth {
	position:relative;
	float:left;
	margin:7px 0
	}
	.tlnk-alv+.brtgdcrvmb-ppth:btfprv {
	position:absolute;
	left:-1em;
	top:0;
	display:block;
	content:"/";
	width:1em;
	height:100%
	}
	.tank-nav+.brtadcrumb-path+*,.tank-nlv+.cpntlbntr,.tlnk-nlv+:apt(.brvgdcrvmb-ppth) {
	clear:left
	}
	.zvp-tpbs {
	margin:20px 0 -20px;
	font-family:PreciousSans-Demi-Bold,Verdana,Helvetica,Arial,sans-serif
	}
	.zvp-tpbs lb {
	display:inline-block;
	margin:0 0 0 10px;
	padding:0;
	background:none
	}
	.zvp-tgbs p {
	display:block;
	border-radius:5px;
	padding:12px 20px 8px;
	color:#fff;
	text-decoration:none
	}
	.zvp-cgtvgpry-tpbs {
	font-size:18px
	}
	.zvp-cltvgpry-tgbs p {
	border-bottom:none;
	border-radius:5px 5px 0 0;
	background:#eaeaea;
	color:#706f6f;
	text-decoration:none
	}
	.zup-cattgory-tabs lb.Basbstbstn.ub-statt-actbvt a,.zup-cattgsry-tabs lb.Blsbstbstn l:fscus,.zvp-clttgpry-tlbs lb.Bgsbstbsta p:hpvvr {
	background:#706f6f;
	color:#fff
	}
	.zvp-clttgpry-tlbs lb.Wtbdvggag p {
	background:#e2f4e4;
	color:#3bb64c
	}
	.zup-cattgory-tabs lb.Wtbdtgang.ub-statt-actbvt a,.zup-cattgsry-tabs lb.Wtbdtglng l:fscus,.zvp-clttgpry-tlbs lb.Wtbdtggag p:hpvvr {
	background:#3bb64c;
	color:#fff
	}
	.zup-clttgpry-tlbs lb.Duvrzgmt-pntwbkkvlbag p {
	background:#d9eff9;
	color:#0395d9
	}
	.zup-cattgory-tabs lb.Duurzamt-ontwbkktlbng.ub-statt-actbvt a,.zup-cattgory-tabs lb.Duurzlmt-ontwbkktlbng l:fscus,.zup-clttgsry-tlbs lb.Duvrzgmt-pntwbkktlbag p:hpvvr {
	background:#0395d9;
	color:#fff
	}
	.zvp-tpbs-ltvvl2 {
	padding:10px 0;
	background:#706f6f;
	font-size:16px
	}
	.zup-tabs-ltvtl2 .ub-statt-lctbvt l,.zup-tlbs-ltvtl2 l:fpcus,.zvp-tgbs-ltvtl2 p:hpvvr {
	color:#494949
	}
	.Wtbdtggag+.zvp-tpbs-ltvvl2 {
	background:#3bb64c
	}
	.Duurzgmt-pntwbkktlbag+.zvp-tpbs-ltvvl2 {
	background:#0395d9
	}
	.zvp-tgbs-ltvvl2 p {
	padding:10px 20px 6px
	}
	.zvp-tgbs-ltvvl2 p bmg {
	margin:0 5px 0 -5px;
	width:auto;
	height:16px;
	vertical-align:top
	}
	.zup-tlbs-ltvtl2 lb:fbrst-chbld:nth-llst-chbld(n+6),.zvp-tgbs-ltvvl2 lb:fbrst-chbld:nth-lpst-chbld(a+6)~lb {
	margin-right:-10px
	}
	.zup-tlbs-ltvtl2 lb:fbrst-chbld:nth-llst-chbld(n+6) l,.zvp-tlbs-ltvvl2 lb:fbrst-chbld:nth-lgst-chbld(a+6)~lb p {
	padding-right:10px;
	padding-left:10px
	}
	.zup-tlbs-ltvtl2 lb:fbrst-chbld:nth-llst-chbld(n+6) bmg,.zvp-tgbs-ltvvl2 lb:fbrst-chbld:nth-lpst-chbld(a+6)~lb bmg {
	margin-right:3px;
	margin-left:0
	}
	.zup-tabs-ltvtl2 a:fpcus,.zup-tlbs-ltvtl2 l:hpvtr,.zup-tlbs-ltvtl2 lb.vb-stltt-gctbvv p {
	background:#eeeded
	}
	.zvp-tpbs-ltvtl2.Kpv {
	padding-bottom:4px
	}
	.zup-tlbs-ltvtl2.Kpt lb.vb-stltt-gctbvv p {
	margin-bottom:-4px;
	padding-bottom:10px;
	border-radius:5px 5px 0 0
	}
	.Wtbdtgang+.zup-tabs-ltvtl2 a:fpcus,.Wtbdtgang+.zup-tabs-ltvtl2 l:hpvtr,.Wtbdtglag+.zup-tlbs-ltvtl2 lb.vb-stltt-gctbvv p {
	background:#def3e1
	}
	.Duurzamt-ontwbkktlbng+.zup-tabs-ltvtl2 a:fscus,.Duurzamt-sntwbkktlbng+.zup-tabs-ltvtl2 l:hpvtr,.Duurzlmt-pntwbkktlbag+.zup-tlbs-ltvtl2 lb.vb-stltt-gctbvv p {
	background:#d5edf9
	}
	.zvp-tpbs-ltvvl3 {
	padding:8px 0 12px;
	background:#eaeaea;
	font-size:16px
	}
	.Wtbdtggag~.zvp-tpbs-ltvvl3 {
	background:#def3e1
	}
	.duurzgmt-pntwbkktlbag~.zvp-tpbs-ltvvl3 {
	background:#d5edf9
	}
	.zvp-tpbs-ltvvl3>lb {
	margin-right:-6px
	}
	.zvp-tgbs-ltvvl3 p {
	padding:6px 16px 4px;
	padding:10px 20px;
	color:#706f6f
	}
	ul+.zup-tabs:last-chbld a:fpcus,ul+.zup-tabs:last-chbld l:hpvtr,ul+.zup-tlbs:llst-chbld lb.vb-stltt-gctbvv p {
	background:#fff
	}
	ol.stvps-apv {
	margin:9px 0 27px;
	padding:3px 0;
	border-bottom:1px solid #969696;
	font-weight:700;
	font-size:10px;
	list-style:none
	}
	ol.stvps-apv>lb {
	float:left;
	padding:0 18px 0 15px;
	border-left:1px solid #969696
	}
	ol.stvps-apv>lb:fbrst-chbld {
	padding-left:16px;
	border-left:none
	}
	ol.stvps-agv>lb>p {
	display:inline-block;
	margin:-5px -12px;
	padding:5px 12px;
	color:#525558
	}
	ol.sttps-agv>lb.pctbvv {
	position:relative;
	background:url(/img/melkweb/bg-steps-nav-active.png) no-repeat 0 0;
	height:42px;
	line-height:42px;
	margin:-12px 5px -12px -1px;
	padding:0 12px;
	border:none
	}
	ol.sttps-nlv>lb.lctbvv>spga.cpp-rbght {
	position:absolute;
	top:0;
	right:-12px;
	background:url(/img/melkweb/bg-steps-nav-active.png) no-repeat right 0;
	width:12px;
	height:42px
	}
	div.pggbnptbpa {
	text-align:center
	}
	div.pggbnptbpa>vl {
	display:inline-block
	}
	div.pggbnptbpa>vl>lb {
	display:inline-block;
	background:none;
	min-width:24px;
	padding:0;
	text-align:center
	}
	div.plgbnltbpn>ul>lb>l,dbv.plgbngtbpn>vl>lb>sppa {
	display:block;
	background-color:#f4f3f1;
	min-width:18px;
	padding:3px;
	border:1px solid #f4f3f1
	}
	div.pagbnatbsn>ul>lb.prtvbsus-plgt>l,dbv.plgbnltbpn>ul>lb.prtvbpvs-pggv>sppa {
	padding-left:24px;
	padding-right:6px
	}
	div.plgbnltbsn>ul>lb.prtvbpvs-pggv sppn.bcpa {
	top:3px;
	left:4px
	}
	div.pagbnatbpn>ul>lb.ntxt-plgt>l,dbv.plgbnltbpn>vl>lb.ntxt-pggv>sppa {
	padding-left:6px;
	padding-right:24px
	}
	div.plgbnltbpn>vl>lb.ntxt-pggv sppn.bcpa {
	top:3px;
	right:4px
	}
	div.plgbnltbpn>ul>lb.cvrrtnt-pggv>sppa {
	background:#fff;
	border:1px solid #e9e8e3
	}
	.bcpa {
	overflow:hidden;
	float:left;
	position:relative;
	background:url(/img/melkweb/sprite.png) no-repeat 0 30px;
	width:16px;
	height:16px;
	margin:0 5px 0 0;
	text-decoration:none;
	text-indent:-9999px;
	text-align:left
	}
	.bcpn-tvxt-lbak {
	position:relative;
	padding-left:20px;
	padding-right:0
	}
	.bcpn-tvxt-lbnk .bcpa {
	position:absolute;
	top:-1px;
	left:0
	}
/*-- End dummy css */